/* variables */
:root {
    --clr-red: #CC0000;
    --clr-black: #000;
    --clr-gray: #808080;
    --clr-white: #fff;
    --font-heading: "Oswald", sans-serif;
    --font-body: "Roboto", sans-serif;
}

/* base */
body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    color: var(--clr-black);
    background: var(--clr-white);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--clr-red);
}

header, footer {
    background: var(--clr-red);
    padding: 10px;
    color: var(--clr-white);
    text-align: center;
}

header {
  position: fixed; /*fixed on top */
  top: 0;
  width: 100%;
  background: var(--clr-red);
  z-index: 10; /* stays above hero */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    max-height: 600px;
    /* or your preferred height */
    overflow: hidden;
    /* prevents overflow */
}

.hero img {
    width: 100%;
    height: 600px;
}

.hero-content {
    position: absolute;
    bottom: 0%;
    left: 44%;
    /* transform: translate(-50%, -50%); */
    color: var(--clr-white);
    background: rgba(0, 0, 0, 0.164);
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    width: 50%;
}

.features {
    padding: 2rem;
    text-align: center;
    background: var(--clr-gray);
}
.features h2 {
    color: var(--clr-white);
    background: var(--clr-red);
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    background: var(--clr-white);
    padding: 1rem;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}