@media screen and (min-width: 500px) {
    header {
        background-color: rgb(0, 0, 0) !important;
        color: white;
    }

    main {
        grid-template-columns: 1fr 1fr !important;
        grid-gap: 1rem;
    }
}